body {
    background-color: rgb(9, 9, 92);
    color: white;
    font-size: 14px Tahoma;
}

button.removeBook {
    position: absolute;
    right: 100px;
}

ul li.unrealized {
    list-style-type: '☐';
    cursor: pointer;
    text-indent: 10px;
}

ul li.executed {
    list-style-type: '☑';
    cursor: pointer;
    text-indent: 10px;
    color: darkgray;
    text-decoration: line-through;
}